<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.user.AccountMapper">
    <insert id="createNewAccount" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,password)
        values(#{username},#{password})
    </insert>

    <select id="getAccountByName" resultMap="User">
        select * from user where username=#{username}
    </select>

    <select id="getAllUser" resultMap="User">
        select * from user
    </select>

    <select id="getUserByamount" resultMap="UserBox">
        select id , username , amount from user join
        (select t.user_id,sum(fare) as amount from
        (select ticket.user_id,schedule.fare from ticket left join schedule on ticket.schedule_id = schedule.id) t
        group by user_id) f on user.id = f.user_id
        where amount &gt;= #{amount}
    </select>



    <resultMap id="User" type="com.example.cinema.po.User">
    </resultMap>
    <resultMap id="UserBox" type="com.example.cinema.po.UserBox">
    </resultMap>
</mapper>